* {
    margin: 0;
    padding: 0;
}

.header {
    font-size: 20px;
    display: inline-block;
    width: 100%;
}

nav {
    float: right;
    list-style-type: none;
    display: flex;
    font-size: 30px;
    padding: 16px;
    margin-right: 160px; 
}

a {
    padding: 16px;
    text-decoration: none;
    color: black;
}
a:hover {
    background-color: #dddd;
}

.area {
    display: inline-block;
}

.pagrindas {
    margin: 250px 200px 300px 400px;
    float: left;
    width: 600px;
    height: 300px;
}

#h1-keisis {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 40px;

    }

#p-keisis {
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    padding-top: 25px;
}

img { 
    float: right;
    width: 30%;
    height: 60%;
    margin-right: 100px;
}

footer {
    display: block;
}

.footer-logo {
    display: block;
    text-align: center;
}